
visuals/apps/myApps/visualisierung/bin/visualisierung.ipdb
visuals/apps/myApps/visualisierung/bin/visualisierung.iobj
visuals/apps/myApps/visualisierung/bin/visualisierung.ipdb

visuals/apps/myApps/visualisierung/\.vs/visualisierung/v15/Solution\.VC\.db-shm

visuals/apps/myApps/visualisierung/\.vs/visualisierung/v15/Solution\.VC\.db-wal
