[Unit]
Description=Ravelox MIDI service
#Requires=
After=network.target

[Service]
Type=simple
#User=root
#Group=root
User=pi
Group=pi
WorkingDirectory=/home/pi/
ExecStart=raveloxmidi -c raveloxmidi.config
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target